{% extends 'app.html' %}

{% block head %}
<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src={{ url_for('static', filename='js/birdie_booker.js') }}></script>
{% endblock %}

{% block navBirdieBooker%}active{% endblock %}

{% block contentTitle %}Birdie Booker Alerts{% endblock %}

{% block contentAdder %}
<label for='location'>Location:</label>
<select type="text" id='location' name="location">
  <option value="">-----</option>
  <option value="0">Recreation Park 18</option>
</select>
<div class='content-card-item-list'>
  <div class='content-card-item'>
      <img src={{ url_for("static", filename="img/person.svg")}} width="25px"></img>
      <input type="text" name="numPlayers" class='date-picker'>
  </div>
  <div class='content-card-item'>
    <img src={{ url_for("static", filename="img/date.svg")}} width="25px"></img>
    <input type="text" name="date" class='date-picker'>
  </div>
  <div class='content-card-item'>
    <img src={{ url_for("static", filename="img/time.svg")}} width="25px"></img>
    <input type="text" name="startTime">-
    <input type="text" name="endTime">
  </div>
</div>
{% endblock %}

{% block contentCardList %}
  {% for alert in data %}
    <div class='content-card'>
      <h2 class='content-card-title'>Alert {{alert[0]}}: {{ alert[1] }}</h2>
      <div class='content-card-item-list'>
        <div class='content-card-item'>
            <img src={{ url_for("static", filename="img/person.svg")}} width="25px"></img>
            <p>{{ alert[2] }}</p>
        </div>
        <div class='content-card-item'>
          <img src={{ url_for("static", filename="img/date.svg")}} width="25px"></img>
          <p>{{ alert[3] }}</p>
        </div>
        <div class='content-card-item'>
          <img src={{ url_for("static", filename="img/time.svg")}} width="25px"></img>
          <p>{{ alert[4] }} - {{alert[5] }}</p>
        </div>
        {% if alert[6]|int() == 1 %}
          <p class="notice">Expired</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}