<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
  {% block styleSheet %}{% endblock %}
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital@0;1&display=swap" rel="stylesheet"> 
  <title>Web Scraper 9000</title>
</head>

<body>
  <div class="menu">
    <h3 class='menu-title'>Web Scraper 9000</h3>
    <ul class='menu-item-list'>
      <li class={% block navBirdieBooker %}{% endblock %}>
        <a href={{ url_for('birdieBooker') }}>Birdie Booker</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <h1 class='content-title'>{% block contentTitle %}{% endblock%}</h1>
    <div class='content-adder'>
      {% block contentAdder %}{% endblock %}
    </div>
    <div class='content-card-list'>
      {% if (data is defined) and data %}
        {% block contentCardList %}{% endblock %}
      {% else %}
        <p class="notice">No alerts found.</p>
      {% endif %}
    </div>
  </div>
</body>

</html>