<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/app.css') }}">
  {% block head %}{% endblock %}
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital@0;1&display=swap" rel="stylesheet"> 
  <title>Yugi Books</title>
</head>

<body>
  <div class="menu">
    <h3 class='menu-title'><a href={{ url_for('home') }}>Scrapenado</a></h3>
    <ul class='menu-item-list'>
      <li class={% block navBirdieBooker %}{% endblock %}>
        <a href={{ url_for('birdie-booker.index') }}>Birdie Booker</a>
      </li>
    </ul>
  </div>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>