body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #0f1e18;
  background-color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

li {
  font-size: 17px;
}

.menu {
  flex: 1;
  background-color: #f5f186;
  background-image: linear-gradient(45deg, #f5f186 0%, #9dfbc8 74%);
  padding: 30px 0px;
}

.menu-title {
  text-align: center;
}

.menu-item-list {
  margin-top: 50px;
}

.menu-item-list a {
  text-decoration: none;
  color: inherit;
}

.menu-item-list .active a {
  color: red;
}

.content {
  flex: 4;
  padding: 50px;
}

.content-title {
  margin-bottom: 30px;
}

.content-adder {
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.10);
}

.content-card-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-card-list .content-card:last-child{
  border-bottom: none;
  margin-bottom: 0px;
}

.content-card {
  border-bottom: 1px solid rgb(193, 193, 193);
}

.content-card-title {
  margin-bottom: 10px;
  margin-top: 0px;
}

.content-card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.content-card-item p {
  margin: 0px;
}

.content-card-item-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 20px;
}

.notice {
  text-align: center;
  font-style: italic;
  color: #63706b
}